index.erb
<br>
<br>

<form action="/albums/create" method="post">
  <label for="photo_name"><input id="photo_name" type="text"name="photo_name"></label>
  <label for="file_name"><input id="file_name" type="text"name="file"></label>
  <input type="submit" value="Upload!">
</form>